<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content=" {%  block description %} Online Yemek Siparişi {% endblock %}"
        <meta name="keywords" content=" {%  block keywords %} Yemek, Yiyecek, İçecek, Kebap, Dürüm, Tatlı, Izgara {% endblock %}"
        <meta name="author" content="Utku Can Özkılıç"
        {% block head %} {% include('home/head.html.twig') %} {% endblock %}
        {% block styleesheet %}  {% endblock %}
    </head>
    <body>
        {% block header %} {% include('home/header.html.twig') %} {% endblock %}
        {% block sidebar %} {% include('home/sidebar.html.twig') %} {% endblock %}
        {% block slider %}  {% endblock %}
        {% block body %}  {% endblock %}
        {% block footer %} {% include('home/footer.html.twig') %} {% endblock %}
        {% block javascripts %} {% include('home/javascripts.html.twig') %} {% endblock %}

    </body>
</html>
