<div id="mu-slider">
    <div class="mu-slide">
        <!-- Start single slide  -->
        <div class="mu-single-slide">
            <img src="{{asset('assets')}}/images/slider-img-1.jpg" alt="slider img">
            <div class="mu-single-slide-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-single-slide-content">
                                <h1>Welcome to b-hero</h1>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                                <a class="mu-primary-btn" href="#">Read more <span class="fa fa-long-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End single slide  -->

        <!-- Start single slide  -->
        <div class="mu-single-slide">
            <img src="{{asset('assets')}}/images/slider-img-2.jpg" alt="slider img">
            <div class="mu-single-slide-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-single-slide-content">
                                <h1>We Promote Your Business</h1>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                                <a class="mu-primary-btn" href="#">Read more <span class="fa fa-long-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End single slide  -->

        <!-- Start single slide  -->
        <div class="mu-single-slide">
            <img src="{{asset('assets')}}/images/slider-img-3.jpg" alt="slider img">
            <div class="mu-single-slide-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-single-slide-content">
                                <h1>Free Multipurpose Template</h1>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                                <a class="mu-primary-btn" href="#">Read more <span class="fa fa-long-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End single slide  -->
    </div>
</div>
<!-- End Slider area -->